{% extends 'base.html' %} {% block content %}
<form method="post" class="buttons">
  <h3>Entre na sala de bate-papo</h3>
  <div>
    <label>Nome:</label>
    <input
      type="texto"
      placeholder="Escolha seu nome"
      name="name"
      value="{{name}}"
    />
  </div>
  <div class="join">
    <input type="text" placeholder="Código da sala" name="code" value="{{code}}" />
    <button type="submit" name="join">Entre em uma sala</button>
  </div>
  <button type="submit" name="create" class="create-btn">Criar Sala</button>
  {% if error %}
  <ul>
    <li>{{error}}</li>
  </ul>
  {% endif %}
</form>
{% endblock %}